.main {
  background: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .input_novaTarefa {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  background: #f04c64;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

.tarefas {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.tarefas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.tarefas li:hover {
  background: #51c5de;
}

.tarefas li .edit {
  margin-right: 10px;
  color: #51c5de;
}
.tarefas li .delete {
  margin-right: 10px;
  color: #f04c64;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  color: #000;
}
